/**/
@font-face {
  font-family: "Ranade_Regular";
  src: 
    url("../Fonts/Ranade_Complete/Fonts/WEB/fonts/Ranade-Regular.woff")format("woff"); 
}

/* Variables
=================================================================== */
:root {
    --Background_Color: #2e2e2e;
    --TextColor_Black: #000000;
    --TextColor_White: #ffffff;
    --Button_BorderColor: #000000;

}

/* Base
=================================================================== */
body{
  margin:0;
  padding: 0;
  text-align: center;
  background-color: var(--Background_Color);
  opacity: 1;
  transition: opacity .5s ease-in-out; 
}

.Button_Disabled {
  pointer-events: none;
  opacity: .6;
}

.LoaderContainer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    backdrop-filter: blur(7px);
    top: 0;
    z-index: 20;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
  

/* Checkmark ----------------------------------------- */
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 12px;
  width: 6px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  margin-bottom: 6px;
  transition: .3s ease;
}

/* Arrows ----------------------------------------- */
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: .3s ease;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Buttons ----------------------------------------- */
.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: crosshair;
}

.RRSS_Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    width: 170px;
    height: 30px;

    color: var(--TextColor_Black);
    font-family: "Ranade_Regular";
    font-weight: 500;

    background-color: #00000000;
    border: 2px solid #00000023;
    border-radius: 50px;

    transition: .3s ease;
    cursor: pointer;
}

.RRSS_Button:hover {
    background-color: #ffe6df;
    box-shadow: 2px 5px 5px 0px #00000023;
    color: rgb(179, 141, 106);
    border: 2px solid #ffe6df;
    border-radius: 6px;
    transform: scale(1.1);
}

.RRSS_Button:hover .arrow {
    border: solid rgb(179, 141, 106);;
    border-width: 0 2px 2px 0;
}

.RRSS_Button:hover div {
    transform: translate(10px);
}

.Save_Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 30px;

    color: var(--TextColor_Black);
    font-weight: 600;
    font-family: "Ranade_Regular";

    background-color: #00000000;
    border: 2px solid #00000023;
    border-radius: 50px;

    transition: .3s ease;
    cursor: pointer;

    gap: 20px;
}

.Save_Button:hover {
    background-color: #ffe6df;
    box-shadow: 2px 5px 5px 0px #00000023;
    color: rgb(179, 141, 106);
    border: 2px solid #ffe6df;
    border-radius: 6px;
    transform: scale(1.1);
}

.Save_Button:hover .check {
    border-bottom: 3px solid rgb(179, 141, 106);
  border-right: 3px solid rgb(179, 141, 106);
}

/* Close Button ----------------------------------------- */
#CloseDownload{top: 2px;}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Heart ----------------------------------------- */
.heart {
    --c: #aaaaaa;
    width: 200px;
    aspect-ratio: 1;
    background:
        radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
        radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
        conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s ease;
}

.heart:hover {
    transform: scale(1.1);
}


/* Map Container
=================================================================== */
.DD_Container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #111;
    cursor: grab;
    border: 24px solid var(--Background_Color);
    border-radius: 2.5em; /*                                             <-----   BORDE DE LA IMAGEN DE FONDO  */
    box-sizing: border-box;
    opacity: 1;
    transition-duration: .5s ease;
}

.DD_Container:active {
    cursor: grabbing;
}

.imagen {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 1;
}

/* Map Container
=================================================================== */
.control {
    position: absolute;
    top: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control button {
    font-size: 20px;
    padding: 10px 15px;
    margin-right: 5px;
    background-color: #fff;
    border: 2px solid #00000023;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 5px 0px #00000023;
    transition: .3s ease;
}

.control button:hover {
    background-color: #ffe3e3;
}

.coordenadas {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px 12px;
    font-family: monospace;
    font-size: 14px;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
}

/* Map Container
=================================================================== */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    z-index: 2;
}

.rectangle {
    position: absolute;
    background-color: rgba(252, 52, 26, 0.4);
    /* border: 1px solid red; */
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

.rectangle:hover {
    transform: scale(1.1);
    background-color: rgba(255, 134, 98, 0.4);
    box-shadow: 2px 5px 5px 0px #00000023;
    backdrop-filter: blur(1px);
}

.Rectangle_Title {
    margin: 9px 0px 0px 0px;
    font-family: 'Ranade_Regular';
    font-weight: 550;
    font-size: 10px;
    opacity: 0;
    transition: .3s ease;
}

.rectangle:hover p {
    opacity: 1;
}

/* Dealer Den Sellers Container
=================================================================== */
.DD_SellerContainer {
    display: none;
    position: fixed;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    backdrop-filter: blur(7px);
    
    top: 0;
    z-index: 20;
}

.DD_SellerInfoContainer{
    width: 550px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    position: relative;
    /* left: 70%; */
    box-shadow: -1px -2px 9px 5px #00000044;
}

#ItemForm {
    display: inline-flex;
    flex-direction: column;
}

.Artist_Info {
    padding-top: 20px;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0px 30px 20px 30px;
}

#Seller_Icon {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 2px 5px 5px 0px #00000023;
    margin-right: 30px;
}

#Nickname {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 2px 5px 5px 0px #00000023;
    margin-right: 30px;
    background-color: #ffe6df;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nickname p{
    font-size: 50px;
    font-family: "Ranade_Regular";
    font-weight: 600;
    color: rgb(179, 141, 106);;
}

#TextInput {
    height: 120px;
    width: 410px;
    resize: none;
    font-family: "Ranade_Regular";
    border: 2px solid #00000023;
    border-radius: 8px;
    box-shadow: 2px 5px 5px 0px #00000023;
}

.FileInput {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    font-family: "Ranade_Regular";
    color: #818181;
    background-color: #ffffff;
    border: 2px solid #00000023;
    box-shadow: 2px 5px 5px 0px #00000023;
    cursor: pointer;
    transition: .3s ease;
}

.FileInput:hover {
    color: rgb(179, 141, 106);
    background-color: #ffe6df;
    border: 2px solid #ffe6df;
    border-radius: 6px;
}

#FileName {
    margin: 0;
    max-width: 200px;

    font-family: "Ranade_Regular";
    color: #818181;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Seller_Name {
    color: #000000;
    font-family: "Ranade_Regular";
    font-size: 30px;
    font-weight: 550;
}

.Seller_Info {
    color: #000000;
    font-family: "Ranade_Regular";
    font-size: 20px;
    font-weight: 500;
}

.Remove_Button {
    cursor: pointer;
    opacity: 0;
    width: 40px;
    position: relative;
    left: 180px;
    top: -22px;
    transition: .3s ease;
}

.ItemContainer:hover .Remove_Button {
    opacity: 1;
    transform: scale(1.05);
}

/* ITEM GALLERY
=================================================================== */
.ItemList {
    width: 80%; 
    margin-left: 10%; 
    height: 450px;
    margin-top: 20px;
    overflow-y: auto;
}

.ItemContainer {
    box-shadow: 2px 5px 5px #00000023;
    height: 85px;
    border-radius: 12px;
    border: 1px solid #00000023;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.ItemText {
    color: #000000;
    font-family: "Ranade_Regular";
    font-size: 14px;
    font-weight: 500;
}

.Download_Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    width: 170px;
    height: 30px;

    color: var(--TextColor_Black);
    font-family: "Ranade_Regular";
    font-weight: 500;

    background-color: #00000000;
    border: 2px solid #00000023;
    border-radius: 50px;

    transition: .3s ease;
    cursor: pointer;
}

.Download_Button:hover {
    background-color: #ffe6df;
    box-shadow: 2px 5px 5px 0px #00000023;
    color: rgb(179, 141, 106);
    border: 2px solid #ffe6df;
    border-radius: 6px;
    transform: scale(1.1);
}


/* DOWNLOAD ITEMS
=================================================================== */
.DownloadItemContainer {
    display: none;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    backdrop-filter: blur(7px);
    top: 0;
    z-index: 20;
}

.DownloadItem {
    width: 800px;
    height: 100%;
    background-color: white;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -2px 9px 5px #00000044;
}

.DownloadItemControler {
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
}

.DownloadItemList {
    width: 90%;
    height:90%;
    margin-left: 5%;
    margin-bottom: 20px;
    overflow-y: auto;
    box-shadow: 2px 5px 5px 0px #00000023;
    border: 2px solid #00000023;
    border-radius: 8px;
}

.DownloadItemElement {
    width: 80%;
    margin-left: 10%;
}

.Seller_Info_Download {
    display: flex;
    gap: 20px;
}

.Content_Download {
    display: flex;
}

.Download_Title {
    font-size: 20px; 
    font-weight: 600; 
    font-family: 'Ranade_Regular';
}

.Download_Text {
    font-size: 16px; 
    font-weight: 500; 
    font-family: 'Ranade_Regular';
}

.MapaDescarga {
    position: relative;
    width: 100%;
}

.MiniMapaDescarga {
    width: 100%;
    display: block;
}

.overlayDownload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* LOG IN SCREEN
=================================================================== */
.LogInBackground {
    width: 500px;
    height: 480PX;
    background-color: white;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: -1px -2px 9px 5px #00000044;
}

/* DOWNLOAD ITEMS
=================================================================== */
@media screen and (max-width: 767px) {
    .DownloadItem{
        width: 90%;
        height: 95%;
        margin-top: 5%;
    }

    .DD_SellerContainer {justify-content: center;}
    .DD_SellerInfoContainer {
        width: 90%;
        height: 95%;
        margin-top: 5%;
    }

    .close{
        right: 22px;
        top: 12px;
    }

    #CloseDownload{top: 2px;}

    .heart {
        left: -170px;
        position: relative;
        top: 100px;
    }

    #ItemForm {
        width: 80%;
    }

    #TextInput {
        width: 280px;
    }
}